[data-bs-theme=light] {    
    --bs-text-gray-500: #636674;
    --bs-text-gray-600: #78829D; 
    --bs-text-gray-700: #9A9CAE;
    --bs-text-gray-800: #B5B7C8;

    --bs-text-primary: #1B84FF;

    --bs-danger: #F8285A;    
    --bs-danger-inverse: #ffffff;
    
    /*Card*/
    --bs-app-card-bg: #fff;
    --bs-app-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    --bs-app-card-border-color: #F1F1F4;
    
    /*Background*/
    --bs-app-bg-color: #F9F9F9;
    --bs-app-main-bg-color: #fff;

    /*Header*/
    --bs-app-header-base-bg-color: #fff;
    --bs-app-header-base-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);

    /*Menu*/
    --bs-menu-dropdown-bg-color: #fff; 
    --bs-menu-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    --bs-dropdown-active-color:#1B84FF;
    --bs-dropdown-active-bg:#F1FAFF;
    --bs-btn-bg-color: #F1FAFF;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #1B84FF;
    --bs-app-sidebar-base-bg-color: #fff;
    --bs-app-sidebar-base-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    --bs-app-sidebar-base-menu-link-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);

    /*Footer*/
    --bs-app-footer-base-bg-color: #fff;
    --bs-app-footer-base-box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

[data-bs-theme=dark] {
    /*Card*/
    --bs-app-card-bg: #15171C;
    --bs-app-card-box-shadow: none;
    --bs-app-card-border-color: #1E2027;

    /*Background*/
    --bs-app-bg-color: #090a0c;

    /*Header*/
    --bs-app-header-base-bg-color: #15171C;
    --bs-app-header-base-box-shadow: none;

    /*Menu*/
    --bs-menu-dropdown-bg-color: #202126;
    --bs-menu-dropdown-box-shadow: none; 
    --bs-dropdown-active-color:#F1FAFF;
    --bs-dropdown-active-bg:#363843;
    --bs-btn-bg-color: #1B1C22;

    /*Sidebar*/
    --bs-app-sidebar-link-color: #78829D;
    --bs-app-sidebar-base-bg-color: #15171C;
    --bs-app-sidebar-base-box-shadow: none;
    --bs-app-sidebar-base-menu-link-box-shadow: none;

    /*Footer*/
    --bs-app-footer-base-bg-color: #15171C;
    --bs-app-footer-base-box-shadow: none;
}

[data-bs-theme=light] .theme-dark-show, 
[data-bs-theme=dark] .theme-light-show {
    display: none !important;
}



.app-default, body {
    background-color: var(--bs-app-bg-color);
}

.offcanvas-md {
    --bs-offcanvas-width: 245px;
}



.navbar {
    min-height: 60px;
    background-color: var(--bs-app-header-base-bg-color);
    box-shadow: var(--bs-app-header-base-box-shadow);
}

.navbar-logo {
    padding: 0 1rem;
}

.navbar-logo img {
    max-height: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.fs-1 {
    font-size: 1.1rem !important;
}

.app-navbar {
    display: flex;
    align-items: stretch;
}

.app-navbar .app-navbar-item {
    display: flex;
    align-items: center;
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.btn i {
    color: var(--bs-text-gray-600);
}

.btn:hover{
    background-color: var(--bs-btn-bg-color) !important;
}

.btn:hover, .btn:hover i {
    color: var(--bs-text-primary);
}

.btn > i {
    display: inline-flex;
    font-size: 1rem;
    vertical-align: middle;   
}

.btn .badge-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: unset;
    margin-left: -0.6rem !important;
    margin-top: 0.6rem !important;
    color: var(--bs-danger-inverse);
    background-color: var(--bs-danger);
}

/*-----------------------------*/
/*  Bootstrap Fonts
/*-----------------------------*/
.bi {
    display: inline-block;
}  

/*-----------------------------*/
/*  Dropdown
/*-----------------------------*/
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-text-primary);
    background-color: var(--bs-btn-bg-color);
}

.dropdown-menu {
    border: 0;
    box-shadow: var(--bs-menu-dropdown-box-shadow);
    border-radius: 0.475rem;
    will-change: transform;
    background-color: var(--bs-menu-dropdown-bg-color);
    animation: menu-sub-dropdown-animation-fade-in .3s ease 1,menu-sub-dropdown-animation-move-up .3s ease 1;
}

.dropdown-menu[data-bs-popper] {
    --bs-dropdown-spacer:0;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-active-color);
    background-color: var(--bs-dropdown-active-bg);
}

.menu-rounded .menu-link {
    border-radius: 0.475rem;
}


.fs-base {
    font-size: 1rem !important;
}


.h-15px {
    height: 15px !important;
}
.w-15px {
    width: 15px !important;
}

.h-35px {
    height: 35px !important;
}
.w-35px {
    width: 35px !important;
}

.symbol img {
    display: inline-block;
    border-radius: 0.475rem;
}

.symbol-35px > img {
    width: 35px;
    height: 35px;
}

/*-----------------------------*/
/*  Sidebar
/*-----------------------------*/
/*
.sidebar {
    background-color: var(--bs-app-sidebar-base-bg-color);
    box-shadow: var(--bs-app-sidebar-base-box-shadow);
}*/

.sidebar .nav-link {
    color: var(--bs-app-sidebar-link-color);
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: .75rem;
}
  
.sidebar .nav-link:hover {    
    background-color: var(--bs-app-sidebar-base-bg-color) !important;
    box-shadow: var(--bs-app-sidebar-base-menu-link-box-shadow);
}
  
.sidebar-heading {
    font-size: 1rem;
}

.sidebar .nav-link, .sidebar-heading{
    margin: 0.2rem 0.5rem;
}

/*-----------------------------*/
/*  Card
/*-----------------------------*/
.card {
    background-color: var(--bs-app-card-bg);
    box-shadow: var(--bs-app-card-box-shadow);
    border: 1px solid var(--bs-app-card-border-color);
}

/*-----------------------------*/
/*  Footer
/*-----------------------------*/
.app-footer {
    min-height: 60px;
    background-color: var(--bs-app-footer-base-bg-color);
    box-shadow: var(--bs-app-footer-base-box-shadow);
}

/*-----------------------------*/
/*  Media queries
/*-----------------------------*/
@media screen and (min-widht: 300px) {

}

@media only screen and (min-width: 768px) {
    .w-md-40px {
        width: 40px !important;
    }
    .h-md-40px {
        height: 40px !important;
    }
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
}
  
@media screen and (min-width: 900px) {
    .navbar {
        min-height: 70px;
    }
    .ms-lg-6 {
        margin-left: 1.5rem !important;
    }
    .me-lg-6 {
        margin-right: 1.5rem !important;
    }
    .symbol-lg-45px > img {
        width: 45px;
        height: 45px;
    }

    .navbar-logo {
        padding: 0 2rem;
    }
}
  
@media only screen and (min-width : 1224px) {
    
}


@keyframes menu-sub-dropdown-animation-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes menu-sub-dropdown-animation-move-up {
    from {
        margin-top: .75rem
    }

    to {
        margin-top: 0
    }
}

@keyframes menu-sub-dropdown-animation-move-down {
    from {
        margin-bottom: .75rem
    }

    to {
        margin-bottom: 0
    }
}